body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;    
    width: 1200px;
    margin: 0 auto;
}

/* main styles */
.main-content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0 ,0 ,0.1);
    padding: 105px 90px;

}

/* about styles */
.about{
    margin-bottom: 40px;
}
.about-position{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}
.about-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* project styles */
.projects{
    margin-bottom: 50px;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.project-item{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;        
    line-height: 24px;
    color: #000000;
}
.project-text, .project-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
   }
.project-link{
    margin-left: 10px;
}
.project-bracket{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.projects-list{
    padding: 0;
    margin-left: 15px;
}

/* work */
.work{
    margin-bottom: 45px;
}
.work-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}
.period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work-list{
    padding: 0;
    margin-left: 15px;
}
.work-list-item{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


/* education */
.education{
    
}
.Uni-name{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 10px;
}
.speciality{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* sidebar styles */
.sidebar{
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

/* photo */
.photo{
    width: 370px;
    margin-bottom: 50px;
}

/* sidebar title */
.sidebar_title{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

/* contacts */
.contacts, .tech_skills, .soft_skills{
    margin-left: 40px;
    margin-bottom: 50px;
}

/* contact type */
.contact_type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin-right: 10px;
}

/* contact link */
.contact_link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
    }

    /* tech skills list */
    .tech_skills_list{
        color: white;
        padding: 0;
        margin-left: 20px;
    }

    /* tech skills item */
    .tech_skills_item{
        color: #fb6d3a;
    }

    /* tech skills text */
    .tech_skills_text{
        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    }

    /* soft skills list */
    .soft_skills_list {
        color: white;
        padding: 0;
        margin-left: 20px;
    }
    
    /* soft skills item */
        .soft_skills_item {
        color: #fb6d3a;
     }
    
     /* soft skills text */
    .soft_skills_text {
        color: #fff;
        font-style: normal;
        font-weight: normal; 
        font-size: 14px;
        line-height: 24px;
        }